body{
        background-color: ghostwhite;
        font-family: Georgia, 'Times New Roman', Times, serif;
}

.header{
        text-align: center;
        padding: 10px;
}

.header h1{
        font-size: 30px;
}
.headings {
display: flex;
flex-direction: row nowrap;
text-decoration: none;
list-style: none;
justify-content:space-evenly;
border: 1px solid burlywood;
border-radius: 10px;
font-weight: bold;
margin: 10px;
padding: 20px;
        
}
.headings li {
        padding-left: 20px;
        padding-right: 20px;
}
.orders {
display: flex;
flex-direction: row nowrap;
justify-content: space-evenly;
list-style: none;
line-height: 50px;
margin: 0px;
padding: 15px;
border-bottom: 0.5px solid black;

}

.order-details {
margin-left: 10px;
margin-right: 10px;
}
.orders-container a{
text-decoration: none;
color: black;
}

.quantity {
        margin-left: 10px;
}
.order-page{
        font-family:'Times New Roman', Times, serif;
}
.order-header {
        padding: 30px;
        
}
.order-header h1{
        font-size: 20px;
        text-align: center;
}
.order-header h3{
        font-size: 15px;
        text-align: center;
}
main {
        border: 1px solid black;
        border-radius: 20px;
        text-align: center;
        margin: auto;
        width: 70%;
        line-height: 15px;

}